{% extends 'base.html' %}

{% block content %}
<div class = "container">
  <div class = "d-flex justify-content-center align-items-center my-5">
    <form style = "max-width: 500px;" class="text-center border border-dark p-5 mr-5 ml-5" method = 'POST' action = '{{url_for("auth.signup")}}'>
      <p class="h4 mb-2">Welcome to Spotify Project</p>
      <p class="h2 mb-4">Please Sign Up</p>
      <!-- Flash Message -->
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <div class="alert alert-secondary" role="alert">
            {{messages[0]}}
          </div>
        {% endif %}
      {% endwith %}
      <!-- Username -->
      <input type="text" name="username" class="form-control mb-4" placeholder="Enter username...">
      <!-- Email -->
      <input type="password" name="password" class="form-control mb-4" placeholder="Enter password..." value="">
      <!-- Sign in button -->
      <button class="btn btn-dark btn-block" type="submit">Sign Up</button>
    </form>
  </div>
</div>
{% endblock %}


<!-- <h1>Sign Up</h1>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <h4>{{messages[0]}}</h4>
  {% endif %}
{% endwith %}
<form method = 'POST' action = '{{url_for("auth.signup")}}'>
  <input type="text" name="username" placeholder="Enter username..." value="">
  <input type="text" name="password" placeholder="Enter password..." value="">
  <input type="submit" name="" value="Sign Up">
</form> -->
